h1{
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
    padding-top: 10px;
}
th{
    background-color: #d0d2ff;
    font-weight: bold;
    border-color: black;
    border-width: 1px;
}
td{
    background-color: #fffdd0;
    border-color: black;
    border-width: 1px;
}