<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <!-- Customers Drop Down -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Customers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/create-customer">Add Customers</a></li>
            <li><a class="dropdown-item" routerLink="/customers-list">View Customers</a></li>
          </ul>
        </li>

        <!-- Employees Drop Down -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employees
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/create-employee">Add Employees</a></li>
            <li><a class="dropdown-item" routerLink="/employees-list">View Employees</a></li>
          </ul>
        </li>

        <!-- Products Drop Down -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/create-product">Add Products</a></li>
            <li><a class="dropdown-item" routerLink="/products-list">View Products</a></li>
          </ul>
        </li>

        <!-- Suppliers Drop Down -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Suppliers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/create-supplier">Add Suppliers</a></li>
            <li><a class="dropdown-item" routerLink="/suppliers-list">View Suppliers</a></li>
          </ul>
        </li>

        <!-- Inventory Drop Down -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inventory
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/create-inventory">Add Inventory</a></li>
            <li><a class="dropdown-item" routerLink="/inventory-list">View Inventory</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
   <!-- 
    <div class="spacer"></div> -->
   



<router-outlet></router-outlet>
