<div class="row justify-content-center">
    <div class="col-md-4 register-employee">
      <!-- form card register -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0 text-center">Edit Customer</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="inputName">Name:</label>
              <input class="form-control" type="text" formControlName="customerName" />
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['customerName'].errors?.['required']"
              >
                Customer Name is required.
              </div>
            </div>

            <div class="form-group">
                <label for="inputName">Rep Name:</label>
                <input class="form-control" type="text" formControlName="customerRepName" />
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['customerRepName'].errors?.['required']"
                >
                  Customer Rep Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="inputName">Address:</label>
                <input class="form-control" type="text" formControlName="customerAddress" />
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['customerAddress'].errors?.['required']"
                >
                  Customer Address is required.
                </div>
            </div>

            <div class="form-group">
                <label for="inputVerify3">Phone Number</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="customerPhoneNumber"
                />
                <!-- error -->
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['customerPhoneNumber'].errors?.['required']"
                >
                  Enter your phone number.
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="submitted && myForm['customerPhoneNumber'].errors?.['pattern']"
                >
                  Enter Numbers Only
                </div>
              </div>

            
            <div class="form-group">
              <label for="inputPassword3">Country</label>
              <select
                class="custom-select form-control"
                (change)="updateCounrty($event.target.value)"
                formControlName="customerCountry"
              >
                <option value="" selected>Choose...</option>
                <option value="USA">U.S.A</option>
                <option value="Canada">Canada</option>
                <option value="China">China</option>
                <option value="England">England</option>
              </select>
              <!-- error -->
              <div
                class="invalid-feedback"
                *ngIf="submitted && myForm['customerCountry'].errors?.['required']"
              >
                Choose country.
              </div>
            </div>

            <div class="form-group text-center mt-3">
              <button class="btn btn-success btn-lg btn-block" type="submit">
                Update Customer
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- form  -->
    </div>
  </div>